{{> headerNotHome}}
<h1 class="form-Title">Register Page</h1>
<div class="custom-Line"></div>
<form  id="registerForm" action="action_page.php" onsubmit="registerForm(event)">
  
  <div class="container">
    <label for="uname"><b>Email</b></label>
    <br>  
    <input type="email" id="register-Email" placeholder="Enter Email" name="uname" required>
<br>  
    <label for="psw"><b>Password</b></label>
    <br>  
    <input type="password" id="register-Password" placeholder="Enter Password" name="psw" required>

<br>
<label for="psw"><b>Repeat Password</b></label>
    <br>  
    <input type="password" id="register-RePassword" placeholder="Repeat Password" name="psw" required>
<br>
<br>
  </div>
  <div class="container" style="background-color:#f1f1f1">
    <button type="submit" id="button-Login" class="cancelbtn">Register</button>
  </div>
  <a class="underFormInfo"  onclick="navigateHandler(event)" href="/login">Already have an account? Then Sign-In</a>
</form>

{{>footer}}