#registerForm,
#paymentForm,
#loginForm,
#createForm,
#editForm,
#paymentForm {
    border: 3px solid #f1f1f1;
    margin-bottom: 200px;
    text-align: center;
}

.form-Title {
    text-align: center;
    font-size: 40px;
    color: #202020;
}

.under-Title {
    text-align: center;
    font-size: 30px;
    color: #202020;
    margin-bottom: 50px;
}

#categorySection-Edit,
#input-payment-zone,
#categorySection-Create {
    color: #FFDF6C;
    font-size: 17px;
    font-family: 'Roboto-solid';
    background-color: #202020;
    border-color: #FFDF6C;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin-bottom: 30px;
    margin-top: 20px;
}

#input-payment-zone:hover,
#categorySection-Edit:hover,
#categorySection-Create:hover {
    background-color: #FFDF6C;
    border-color: #202020;
    color: #202020;
    cursor: pointer;
}

input[type=email],
input[type=password],
input[type=text],
input[type=number],
input[type=url],
input[type=city-Input],
input[type=email-Input],
input[type=name],
input[type=phone],
input[type=pk-Input] {
    min-width: 20%;
    max-width: 60%;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.underFormInfo {
    color: #202020;
    font-size: 20px;
    border-bottom: #202020;
    font-family: 'Roboto-solid';
}

#button-Login {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 8px 0;
    cursor: pointer;
    color: #FFDF6C;
    font-size: 20px;
    font-family: 'Roboto-solid';
    background-color: #202020;
    border-color: #FFDF6C;
}

#button-Login:hover {
    background-color: #FFDF6C;
    border-color: #202020;
    color: #202020;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

span.psw {
    float: right;
    padding-top: 16px;
}

input[type=city-Input]:hover,
[type=email-Input]:hover,
[type=name]:hover,
[type=phone]:hover,
[type=pk-Input]:hover {
    border: 3px solid #FFDF6C;
}

@media only screen and (max-width: 1000px) {
    label {
        font-size: 15px;
    }
    .form-Title {
        text-align: center;
        font-size: 30px;
        color: #202020;
    }
    .under-Title {
        text-align: center;
        font-size: 20px;
        color: #202020;
        margin-bottom: 50px;
    }
    input[type=email],
    input[type=password],
    input[type=text],
    input[type=number],
    input[type=url],
    input[type=city-Input],
    input[type=email-Input],
    input[type=name],
    input[type=phone],
    input[type=pk-Input] {
        min-width: 20%;
        max-width: 60%;
        width: 50%;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 25px;
        padding-left: 25px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
}