.a-Header:link {
    text-decoration: none;
    color: gray;
}

.a-Header:visited {
    color: #DCDCDC;
    text-decoration: none;
}

#a-Auth {
    margin-right: 10%;
}

.a-Auth {
    float: right;
    font-size: 15px;
    text-decoration: none;
    color: gray;
    padding-right: 15px;
}

.a-Header:hover {
    color: white;
}

.a-Auth:hover {
    color: white;
}

#header {
    background: #202020;
    font-size: 25px;
    width: 100%;
    position: relative;
    float: right;
    clip-path: polygon( 0 0, 230% -190%, 68% 82%, 0 28%);
    height: 400px;
}

#headerNotHome {
    background: #202020;
    font-size: 30px;
    width: 100%;
    position: relative;
    float: right;
    clip-path: polygon( 0 0, 100% -350%, 100% 55%, 0 40%);
    height: 400px;
    margin-bottom: -100px;
}

#header #botton-Nav {
    color: #FFDF6C;
    font-size: 17px;
    font-family: 'Roboto-solid';
    background-color: #202020;
    border-color: #FFDF6C;
    float: right;
    margin-right: 30%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

#header #botton-Nav:hover {
    background-color: #FFDF6C;
    border-color: #202020;
    color: #202020;
    cursor: pointer;
}

#header h1,
#headerNotHome h1 {
    text-align: center;
    margin-left: 35%;
    font-size: 40px;
    color: #DCDCDD;
    font-family: 'Roboto-bold';
}

header nav li {
    display: inline;
    margin-left: 3%;
}

@media only screen and (max-width: 590px) {
    .a-Auth {
        float: right;
        font-size: 10px;
        text-decoration: none;
        color: gray;
        padding-right: 15px;
    }
    #header {
        background: #202020;
        font-size: 15px;
        width: 100%;
        position: relative;
        float: right;
        clip-path: polygon( 0 0, 250% -100%, 68% 62%, 0 28%);
        height: 380px;
    }
    #headerNotHome {
        background: #202020;
        font-size: 20px;
        width: 100%;
        position: relative;
        float: right;
        clip-path: polygon( 0 0, 100% -350%, 100% 55%, 0 40%);
        height: 400px;
        margin-bottom: -100px;
    }
    #header #botton-Nav {
        color: #FFDF6C;
        font-size: 16px;
        font-family: 'Roboto-solid';
        background-color: #202020;
        border-color: #FFDF6C;
        float: right;
        margin-right: 21%;
        padding-left: 33px;
        padding-right: 33px;
        padding-top: 6px;
        padding-bottom: 6px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
    }
    #header #botton-Nav:hover {
        background-color: #FFDF6C;
        border-color: #202020;
        color: #202020;
        cursor: pointer;
    }
    #header h1,
    #headerNotHome h1 {
        text-align: center;
        margin-left: 35%;
        font-size: 27px;
        color: #DCDCDD;
        font-family: 'Roboto-bold';
    }
    header nav li {
        display: inline;
        margin-left: 0%;
    }
}