.shopping-cart {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    text-align: center;
    padding-top: 20px;
    display: inline-block;
    margin-bottom: 30px;
}

.cart-container {
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}

.shopping-cart-table {
    border: 2px double #202020;
    background-color: white;
    color: white;
    font-size: 20px;
    display: block;
    text-align: center;
    table-layout: fixed;
}

.pay-Button {
    border: 3px solid #FFDF6C;
    background-color: #202020;
    color: #FFDF6C;
    font-size: 25px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
    float: right;
    overflow: hidden;
    margin-top: 10px;
    margin-right: 6%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    cursor: pointer;
}

.pay-Button:hover {
    border: 3px solid #202020;
    background-color: #FFDF6C;
    color: #202020;
    cursor: pointer;
}

.back-Button {
    border: 3px solid #FFDF6C;
    background-color: #202020;
    color: #FFDF6C;
    font-size: 25px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
    float: left;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 6%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    cursor: pointer;
}

.back-Button:hover {
    border: 3px solid #202020;
    background-color: #FFDF6C;
    color: #202020;
    cursor: pointer;
}

.shopping-cart-table thead {
    background-color: #FFDF6C;
    color: #202020;
    font-size: 22px;
}

.shopping-cart-table thead tr {
    border: 10px solid #FFDF6C;
}

.shopping-cart-table thead tr th {
    border: 1px solid #FFDF6C;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.shopping-cart-table tbody tr {
    color: #202020;
}

.img-thumbnail {
    height: 50px;
}

.shopping-cart-table tbody tr:hover {
    border: 6px solid #202020;
    background-color: #202020;
    color: #FFDF6C;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: default;
}

.shopping-cart-table tbody tr td a:link {
    text-decoration: none;
}

.shopping-cart-table tbody tr td a:visited {
    text-decoration: none;
    color: black;
}

.button-Remove {
    font-size: 20px;
    background-color: #B2022F;
    color: white;
    border-radius: 100px;
    border: 2px solid black;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 30px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    cursor: pointer;
}

.button-Remove:hover {
    font-size: 24px;
    padding-left: 7px;
    padding-right: 7px;
    background-color: white;
    color: #B2022F;
    border: 2px solid black;
    cursor: pointer;
}

@media only screen and (max-width: 570px) {
    .shopping-cart {
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        text-align: center;
        padding-top: 20px;
        padding-left: 0px;
        padding-right: 0px;
        display: inline-block;
        margin-bottom: 30px;
    }
    .shopping-cart-table thead tr th {
        border: 1px solid #FFDF6C;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .shopping-cart-table td {
        padding-left: 0px;
        padding-right: 0px;
    }
    .shopping-cart {
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        text-align: center;
        padding-top: 20px;
        padding-left: 0px;
        padding-right: 0px;
        display: inline-block;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 713px) {
    thead tr th {
        border: 1px solid #FFDF6C;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .shopping-cart-table {
        overflow-y: scroll;
        overflow-x: scroll;
        max-width: 300px;
    }
    .pay-Button {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 17px;
        padding-bottom: 5px;
        padding-top: 5px;
    }
    .back-Button {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 17px;
        padding-bottom: 5px;
        padding-top: 5px;
    }
}