input[type=name] {
    width: 25%;
    padding: 12px 20px;
    margin-left: 1%;
    margin-right: 1%;
    align-content: center;
    text-align: center;
    display: inline-block;
    border: 1px solid #202020;
    box-sizing: border-box;
}

input[type=pk-Input] {
    width: 25%;
    padding: 12px 20px;
    margin-left: 1%;
    margin-right: -4.5%;
    align-content: center;
    text-align: center;
    display: inline-block;
    border: 1px solid #202020;
    box-sizing: border-box;
}

input[type=phone] {
    width: 25%;
    padding: 12px 20px;
    margin-left: 1%;
    margin-right: -4.5%;
    align-content: center;
    text-align: center;
    display: inline-block;
    border: 1px solid #202020;
    box-sizing: border-box;
}

input[type=email-Input] {
    width: 25%;
    padding: 12px 20px;
    margin-left: 1%;
    margin-right: 0%;
    align-content: center;
    text-align: center;
    display: inline-block;
    border: 1px solid #202020;
    box-sizing: border-box;
}

input[type=city-Input] {
    width: 25%;
    padding: 12px 20px;
    margin-left: 1%;
    margin-right: 5.5%;
    align-content: center;
    text-align: center;
    display: inline-block;
    border: 1px solid #202020;
    box-sizing: border-box;
}

input[type=city-Input]:hover,
[type=email-Input]:hover,
[type=name]:hover,
[type=phone]:hover,
[type=pk-Input]:hover {
    width: 27%;
    border: 3px solid #FFDF6C;
}

.pk-Input {
    margin-left: 7%;
}

.city-Input {
    margin-left: -2%;
}

#input-payment-zone {
    color: #FFDF6C;
    font-size: 17px;
    font-family: 'Roboto-solid';
    background-color: #202020;
    border-color: #FFDF6C;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

#input-payment-zone:hover {
    background-color: #FFDF6C;
    border-color: #202020;
    color: #202020;
    cursor: pointer;
}

.form-Container {
    border: 2px solid #FFDF6C;
    margin-bottom: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-left: 15%;
    margin-right: 15%;
}

.form-Container:hover {
    border: 3px solid #202020;
}

.phone-Input {
    margin-left: 1%;
}

.name {
    /* padding: 15% 15%; */
    font-size: 20px;
}

.email-Input {
    font-size: 20px;
    margin-left: -2%;
}

.phone-Input {
    font-size: 20px;
}