{{> headerNotHome}}
<h1 class="form-Title">Edit Product Page</h1>
<div class="custom-Line"></div>
<form id="createForm" action="action_page.php"  onsubmit="createForm(event)">
  
  <div class="container">
    <label for="uname"><b>Title</b></label>
    <br>  
    <input type="text" id="create-Title"  value={{title}} name="uname">
<br>  
    <label for="psw"><b>Description</b></label>
    <br>  
    <input type="text" id="create-Description"  value={{description}} name="psw" >
<br>
<br>  
    <label for="psw"><b>Image URL</b></label>
    <br>  
    <input type="url" id="create-Image" value={{image}} name="psw" >
<br>
<br>  
    <label for="psw"><b>Price</b></label>
    <br>  
    <input type="number" id="create-Price" value={{price}} name="psw" >
<br>

<br>
<br>
  </div>
  <div class="container" style="background-color:#f1f1f1">
    <button type="submit" class="custom-Button">Edit</button>
  </div>
  
</form>
{{> footer}}