{{> headerNotHome}}
<h1 class="form-Title">Login Page</h1>
<div class="custom-Line"></div>
<form id="loginForm" action="action_page.php"  onsubmit="loginForm(event)">
  
  <div class="container">
    <label for="uname"><b>Email</b></label>
    <br>  
    <input type="email" id="login-Email" placeholder="Enter Email" name="uname" required>
<br>  
    <label for="psw"><b>Password</b></label>
    <br>  
    <input type="password" id="login-Password" placeholder="Enter Password" name="psw" required>

<br>
<br>
  </div>
  <div class="container" style="background-color:#f1f1f1">
    <button type="submit" id="button-Login" class="cancelbtn">Login</button>
  </div>
  <a class="underFormInfo" onclick="navigateHandler(event)" href="/register">Don't have an account yet? Then Sign-Up</a>
</form>

{{>footer}}