.detailsImg {
    border: 3px solid #202020;
    max-width: 360px;
    height: 470px;
    margin-left: 350px;
    /* Black w/opacity/see-through */
}

#imageContainer {
    text-align: center;
    align-content: center;
    width: 540px;
    height: 670px;
}

.product-Description-Details {
    width: 200px;
    margin-right: 300px;
}

.details-Page .details-Info .custom-Button {
    float: right;
    margin: 15px;
}

.details-Page .details-Info .custom-Button:hover {
    float: right;
    padding-left: 35px;
    padding-right: 35px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
}

#comment-Container {
    text-align: center;
    display: none;
}

.comment-Form {
    border: 3px solid #202020;
    display: inline-block;
}

.details-Page {
    margin-top: 100px;
    text-align: center;
    display: inline-flex;
    float: none;
}

.detailsImg:hover {
    border: 6px solid #FFDF6C;
    cursor: pointer;
}

.details-Info {
    text-align: left;
    margin-left: 60px;
}

.comment-Section {
    overflow-y: auto;
    min-height: 300px;
    text-align: left;
    border-bottom: 1px solid #202020;
}

#comment-Area {
    margin-bottom: -15px;
    margin-top: 5px;
    margin-left: 10px;
}